//custom SCSS stylings for base template go here
@import 'mixins';

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    height: auto;
}

div.container, div.row {
    height: 100%;
    width: 100%;
}

.center {
    text-align: center;
}

* {
    outline: none;
}

.red {
    color: rgb(240,70,70);
}

.blue {
    color: rgb(34,179,192);
}

.purple {
    color: rgb(56,77,157);
}

.teal {
    color: rgb(30,176,189);
}

.teal-back {
    background-color: rgb(30,176,189);
}

.alt-teal-back {
    background-color: rgb(22,139,150);
}

.upper {
    text-transform: uppercase;
}

header {
    z-index: 100;
    background: rgba(250,250,250,.8);
    width: 80%;
    position: fixed;
    height: 8vh;
    padding-left: 20%;
    img {
        height: 100%;
    }
    a.button {
        @media (max-width: 954px) {
            display: none;
        }
        border: none;
        transform: translateY(-22px);
    }
}

.button {
    @include transition(all, .6s);
}
