//custom SCSS stylings for base template go here
@import 'mixins';

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    height: auto;
}

.container {
    height: 100%;
    width: 100%;
}

.center {
    text-align: center;
}

a:link, a:visited {
    @include transition(all, 1s);
    color: rgb(20,20,20);
    &:hover {
        color: rgb(80,80,80);
    }
}

* {
    outline: none;
}

.red {
    color: rgb(240,70,70);
}
