//custom SCSS stylings for base template go here
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.container, .row {
    min-height: 100%;
}

a:link, a:visited {
    @include transition(ease-in-out, all, 1s);
    color: rgb(20,20,20);
    &:hover {
        color: rgb(80,80,80);
    }
}

* {
    outline: none;
}

.red {
    color: rgb(240,70,70);
}
