//custom SCSS stylings for base template go here
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.red {
    color: rgb(240,70,70);
}
