@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($animations, $time) {
    -webkit-transition: $animations $time ease-in-out;
    -moz-transition: $animations $time ease-in-out;
    -o-transition: $animations $time ease-in-out;
    transition: $animations $time ease-in-out;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
    -moz-background-size: $arg;
    -o-background-size: $arg;
    background-size: $arg;
}

@mixin background-size-2d($arg1, $arg2) {
    -webkit-background-size: $arg1, $arg2;
    -moz-background-size: $arg1, $arg2;
    -o-background-size: $arg1, $arg2;
    background-size: $arg1, $arg2;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    box-shadow: $x, $y, $blur, $spread, $color;
    -moz-box-shadow: $x, $y, $blur, $spread, $color;
    -webkit-box-shadow: $x, $y, $blur, $spread, $color;
}

@mixin rotate($arg) {
    transform: rotate($arg);
    -o-transform: rotate($arg);
    -moz-transform: rotate($arg);
}

$brand: rgb(28,176,190);
$brand-alt: rgb(56,76,157);

.center {
    text-align: center;
}

.padded {
    padding: 4%;
}

html {
    height: 100%;
    width: 100%;
    background-color: rgb(230,230,230);
    color: rgb(20,20,20);
}

body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    outline: none;
}

header {
    z-index: 20;
    position: fixed;
    background-color: rgba(255,255,255, .6);
    color: rgb(40,40,40);
    width: 100%;
    height: 57px;
    overflow: hidden;
    border-bottom: 1px solid rgba(40,40,40,.3);
}

.grey {
    color: rgb(230,230,230);
}

.black {
    color: rgb(30,30,30);
}

.blurBack {
    background-color: rgba(220,220,220, .8);
    @include border-radius(25px);
}

.top-padded {
    padding-top: 5%;
}

#brand {
    height: 100%;
    margin-left: 4%;
}

footer {
    background: rgba(10,10,10, .5);
    padding-top: 3%;
    padding-bottom: 2%;
}

#projectInfo {
    margin-left: 6%;
}

#assemblyProj {
    @extend #brand;
    height: 25px;
    padding-top: 12px;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(50,50,50);
    &:hover {
        color: rgb(160,160,160);
    }
}

.section {
    width: 70%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
}

.text-center {
    align-text: center;
}

.hidden {
    display: none;
}

$nav: #E0E0E0;
$navDark: #D6D6D6;
$navAlt: #79B5DF;
$navAltDark: #5F9AC9;

ul#breadcrumb {
    margin: 0;
    list-style: none;
    display: inline-block;
    height: 88%;
    padding-top: 3px;

    .icon {
        font-size: 14px;
    }

    li {
        float:left;
        height: 100%;
        a {
            @include transition(width, .8s);
            color: rgb(70,70,70);
            display: inline-block;
            background: $nav;
            text-decoration: none;
            position: relative;
            height: 100%;
            width: 75px;
            line-height: 40px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 23px;
            z-index: 22;
        }
        &:nth-child(even) {
            a {
                background-color: $navDark;

                &:before {
                    border-color:$navDark;
                    border-left-color:transparent;
                }
                &:after{
                    border-left-color:$navDark;
                }
            }
        }
        &:first-child {
            a {
                z-index: 21;
                padding-left:15px;
                @include border-radius(4px 0 0 4px);
                &:before {
                    border:none;
                }
            }
        }
        &:last-child {
            a {
                padding-right:15px;
                @include border-radius(0 4px 4px 0);
                &:after {
                    border:none;
                }
            }
        }

        a {
            &:before,
            &:after {
                content: "";
                position:absolute;
                top: 0;
                border: 0 solid $nav;
                border-width: 25px 20px;
                width: 0;
                height: 0;
            }
            &:before {
                left:-20px;
                border-left-color:transparent;
            }
            &:after {
                left:100%;
                border-color:transparent;
                border-left-color:$nav;
            }
            &:hover {
                background-color: $navAlt;
                width: 100px;

                &:before {
                    border-color:$navAlt;
                    border-left-color:transparent;
                }
                &:after {
                    border-left-color:$navAlt;
                }
            }
            &:active {
                background-color: $navAltDark;

                &:before {
                    border-color:$navAltDark;
                    border-left-color:transparent;
                }
                &:after {
                    border-left-color:$navAltDark;
                }
            }
        }
        #howBtn {
            padding-top: 8px;
        }
    }
}
