@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($animations, $time) {
    -webkit-transition: $animations $time ease-in-out;
    -moz-transition: $animations $time ease-in-out;
    -o-transition: $animations $time ease-in-out;
    transition: $animations $time ease-in-out;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
    -moz-background-size: $arg;
    -o-background-size: $arg;
    background-size: $arg;
}

@mixin background-size-2d($arg1, $arg2) {
    -webkit-background-size: $arg1, $arg2;
    -moz-background-size: $arg1, $arg2;
    -o-background-size: $arg1, $arg2;
    background-size: $arg1, $arg2;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    box-shadow: $x, $y, $blur, $spread, $color;
    -moz-box-shadow: $x, $y, $blur, $spread, $color;
    -webkit-box-shadow: $x, $y, $blur, $spread, $color;
}

@mixin rotate($arg) {
    transform: rotate($arg);
    -o-transform: rotate($arg);
    -moz-transform: rotate($arg);
}

.center {
    text-align: center;
}

.padded {
    padding: 4%;
}

html {
    height: 100%;
    width: 100%;
    background-color: rgb(230,230,230);
    color: rgb(20,20,20);
}

body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    outline: none;
}

header {
    z-index: 20;
    position: fixed;
    background-color: rgb(255,255,255);
    color: rgb(40,40,40);
    width: 100%;
    height: 11%;
    overflow: hidden;
    padding-top: 1%;
    border-bottom: 1px solid rgba(40,40,40,.3);
}

.grey {
    color: rgb(230,230,230);
}

.darkBlurBack {
    background-color: rgba(20,20,20,.6);
    @include border-radius(25px);
}

.top-padded {
    padding-top: 5%;
}

#brand {
    height: 100%;
    margin-left: 4%;
}

footer {
    background: rgba(10,10,10,.5);
}

#projectInfo {
    margin-left: 6%;
}

#assemblyProj {
    height: 60%;
    margin-top: 14px;
    float: right;
    padding-right: 5%;
}

a:link, a:visited {
    @include transition(all, .6s);
    text-decoration: none;
    color: rgb(160,160,160);
    &:hover {
        color: rgb(50,50,50);
    }
}

.section {
    width: 70%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
}
