//custom SCSS stylings for base template go here
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($animations, $time) {
    -webkit-transition: $animations $time ease-in-out;
    -moz-transition: $animations $time ease-in-out;
    -o-transition: $animations $time ease-in-out;
    transition: $animations $time ease-in-out;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
    -moz-background-size: $arg;
    -o-background-size: $arg;
    background-size: $arg;
}

@mixin background-size-2d($arg1, $arg2) {
    -webkit-background-size: $arg1, $arg2;
    -moz-background-size: $arg1, $arg2;
    -o-background-size: $arg1, $arg2;
    background-size: $arg1, $arg2;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    box-shadow: $x, $y, $blur, $spread, $color;
    -moz-box-shadow: $x, $y, $blur, $spread, $color;
    -webkit-box-shadow: $x, $y, $blur, $spread, $color;
}

@mixin rotate($arg) {
    transform: rotate($arg);
    -o-transform: rotate($arg);
    -moz-transform: rotate($arg);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.container, .row {
    min-height: 100%;
}

a:link, a:visited {
    @include transition(ease-in-out, all, 1s);
    color: rgb(20,20,20);
    &:hover {
        color: rgb(80,80,80);
    }
}

* {
    outline: none;
}

.red {
    color: rgb(240,70,70);
}
