#title {
    padding-top: 10%;
}

.container {
    width: 100%;
    min-height: 40%;
}

#footer {
    position: absolute;
    bottom: 0;
    min-height: 3%;
    height: auto;
    background: rgba(140,140,140,.3);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

ul#steps {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 250px;
    width: 100%;
    li.step {
        height: 100%;
        display: inline-block;
        overflow: hidden;
        width: 24%;
        &:first-child {
            border-left: .5px solid rgba(20,20,20,.4);
        }
        border-right: .5px solid rgba(20,20,20,.4);
        // padding-left: 8%;
        i {
            padding-left: 35%;
        }
        img {
            padding-left: 35%;
            width: 30%;
            height: 64px;
        }
        p {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}
