@import 'base.css.scss';

#intro {
    z-index: 1;
    padding-top: 10%;
    @extend .section;
    background-color: rgb(129,172,215);
    height: 60%;
    h1 {
        font-size: 42px;
    }
    i {
        margin-left: 47%;
        width: 6%;
    }
    h3 {
        padding-top: 4%;
    }
}

#how {
    @extend .section;
    min-height: 90%;
    height: fit;
    h3 {
        margin-top: 6%;
    }
}

#change {
    @extend .section;
    min-height: 70%;
    height: fit;
    background-image: url("/MenditLanding/images/power_blur.jpg");
    background-position: center center;
    background-size: cover;
    h3 {
        margin-top: 5%;
    }
}

#mc_embed_signup {
    width: 50%;
    margin-left: 15%;
    margin-right: 25%;
    padding-top: 1%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2%;
    background-color: rgba(80,80,80,.1);
}

#mc-embedded-subscribe-form {
    text-align: left;
    input {
        float: right;
        width: 60%;
    }
    #mc-embedded-subscribe {
        border-color: transparent;
        border-radius: 5%;
        margin-right: 20%;
        margin-top: 3%;
        padding: 6%;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: rgb(28,176,190);
        color: rgb(30,30,30);
        width: 40%;
        @include transition(all, .8s);
        &:hover {
            background-color: rgb(56,76,157);
            color: rgb(250,250,250);
        }
    }
    .mc-field-group {
        padding: 2%;
        align-text: center;
        input {
            border-radius: 5px;
        }
    }
}

.indicates-required {
    text-align: right;
    font-size: 13px;
    color: rgb(140,0,0);
}

.asterisk {
    color: rgb(140,0,0);
}
