#title {
    padding-top: 10%;
}

.container {
    width: 100%;
    min-height: 40%;
}

#footer {
    position: absolute;
    bottom: 0;
    min-height: 3%;
    height: auto;
    background: rgba(140,140,140,.3);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
