#title {
    padding-top: 10%;
}

.container {
    width: 100%;
    min-height: 40%;
}

#footer {
    position: absolute;
    bottom: 0;
    min-height: 3%;
    height: auto;
    background: rgba(140,140,140,.3);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

ul#steps {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 250px;
    width: 100%;
    li.step {
        height: 100%;
        display: inline-block;
        overflow: hidden;
        width: 24%;
        &:first-child {
            border-left: .5px solid rgba(20,20,20,.4);
        }
        border-right: .5px solid rgba(20,20,20,.4);
        // padding-left: 8%;
        i {
            padding-left: 35%;
        }
        img {
            padding-left: 35%;
            width: 30%;
            height: 64px;
        }
        p {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}

#mc_embed_signup {
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 15%;
    border-radius: 2%;
    background-color: rgba(80,80,80,.1);
}

#mc-embedded-subscribe-form {
    text-align: left;
    input {
        float: right;
        width: 60%;
    }
    #mc-embedded-subscribe {
        border-color: transparent;
        border-radius: 5%;
        margin-right: 20%;
        margin-top: 3%;
        padding: 6%;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: $brand;
        color: rgb(30,30,30);
        width: 40%;
        @include transition(all, .8s);
        &:hover {
            background-color: $brand-alt;
            color: rgb(250,250,250);
        }
    }
    .mc-field-group {
        padding: 2%;
        align-text: center;
        input {
            border-radius: 5px;
        }
    }
}

.indicates-required {
    text-align: right;
    font-size: 13px;
    color: rgb(140,0,0);
}

.asterisk {
    color: rgb(140,0,0);
}
