@import 'base.css.scss';

#intro {
    z-index: 1;
    padding-top: 10%;
    @extend .section;
    background-color: rgb(129,172,215);
    height: 60%;
    h1 {
        font-size: 42px;
    }
    i {
        margin-left: 47%;
        width: 6%;
    }
    h3 {
        padding-top: 4%;
    }
}

#how {
    @extend .section;
    height: 90%;
    h3 {
        margin-top: 6%;
    }
}

#change {
    @extend .section;
    height: 70%;
    background-image: url("/images/power_blur.jpg");
    background-position: center center;
    background-size: cover;
    h3 {
        margin-top: 5%;
    }
}
