@import 'mixins';

#intro {
    height: 80vh;
	background-image: url("/MenditLanding/images/2.jpg");
	background-size: fit fit;
	background-position: center center;
	color: rgb(240,240,240);
	i {
		margin-left: 50;
		margin-right: 50;
	}
	#cover {
		padding-top: 30vh;
		width: 100%;
		height: 50vh;
		background: rgba(40,40,40,.5);
	}
}

#together {
	height: 60vh;
	width: 100%;
	padding-bottom: 5%;
	#left {
		margin-left: 10%;
		margin-top: 20%;
		width: 40%;
		float: left;
	}
	img {
		padding-top: 5%;
		width: 30%;
		float: right;
	}
}

#footer {
	bottom: 0;
	min-height: 3%;
	height: auto;
	background: rgba(140,140,140,.3);
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

#step_container {
    min-height: 100%;
    margin: 0;
    margin-bottom: 5%;
    height: auto;
    width: 100%;
    padding: 0;
}

#steps {
	overflow: hidden;
	color: rgb(240,240,240);
	background-image: url("/MenditLanding/images/6.jpg");
	background-position: center center;
	background-size: fit fit;
	#blue_cover {
		height: 100%;
		width: 100%;
		background: rgba(10,156,172,.6);
	}
	ul {
		height: inherit;
	}
	.step {
		height: 20vh;
	}
	h4 {
		padding-top: 5%;
		padding-bottom: 5%;
		color: rgb(250,250,250);
	}
	min-height: 70vh;
	height: auto;
	width: 99%;
	margin-top: 15%;
	margin-bottom: 5%;
	margin-bottom: 0;
	@media (min-width: 600px) {
		height: 200px;
		.step {
			height: 25vh;
		}
	}
	@media (min-width: 1050px) {
		height: 250px;
		.step {
			height: 30vh;
		}
	}
}

.step {
	list-style: none;
	border-left: .5px solid rgb(40,40,40);
	border-right: .5px solid rgb(40,40,40);
	width: 100%;
	background-color: rgba(100,100,100,.2);
	height: 100%;
	.fa-diamond:hover {
		color: rgb(177,28,11);
	}
	.fa-music:hover {
		color: rgb(255,54,146);
	}
	i, img {
		padding-top: 5%;
	}
    img {
        width: 76px;
        height: auto;
    }
	.step_contents {
		width: 100%;
		height: 100%;
	}
	@media (min-width: 600px) {
		float: left;
		width: 49%;
	}
	@media (min-width: 1050px) {
		border-right: none;
		&:last-child {
			border-right: .5px solid rgb(40,40,40);
		}
		width: 24%;
		i, img {
			padding-top: 15%;
		}
	}
}

#signup {
	padding-top: 10vh;
	height: auto;
	min-height: 50vh;
	padding-bottom: 5vh;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.teal_btn {
	background-color: rgb(30,176,189);
	border-color: rgb(30,176,189);
}

.alt_teal_btn {
	background-color: rgb(22,139,150);
	border-color: rgb(22,139,150);
}

a#signup_btn {
	@extend .teal_btn;
}

a#fordevs {
	@extend .teal_btn;
}

a#forusers {
	@extend .alt_teal_btn;
}

#mc_embed_signup {
	width: 30%;
	margin-right: 35%;
	margin-left: 35%;
	input {
		width: 100%;
		&.button {
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
		}
	}
}

#mc-embedded-subscribe {
	@extend .teal_btn;
}

#mce-FNAME, #mce-LNAME {
    height: 38px;
    padding: 6px 10px;
    background-color: #FFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    &:hover, &:focus {
        border: 1px solid #33C3F0;
        outline: 0px none;
    }
}
