@import 'mixins';

#title {
	padding-top: 10%;
}

#intro {
    min-height: 102%;
}

#footer {
	bottom: 0;
	min-height: 3%;
	height: auto;
	background: rgba(140,140,140,.3);
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

#step_container {
    min-height: 100%;
    margin: 0;
    margin-bottom: 5%;
    height: auto;
    width: 100%;
    padding: 0;
}

#steps {
	ul {
		height: inherit;
	}
	height: auto;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 5%;
	margin-bottom: 0;
	@media (min-width: 600px) {
		height: 200px;
	}
	@media (min-width: 1050px) {
		height: 250px;
	}
}

.step {
	@include transition(all, 1s);
	list-style: none;
	border-left: .5px solid rgb(40,40,40);
	border-right: .5px solid rgb(40,40,40);
	width: 100%;
	background-color: rgba(40,40,40,.02);
	height: 100%;
	.fa-diamond:hover {
		color: rgb(177,28,11);
	}
	.fa-music:hover {
		color: rgb(255,54,146);
	}
	i, img {
		@include transition(all, 1s);
		padding-top: 5%;
	}
    img {
        width: 76px;
        height: auto;
    }
	.step_contents {
		width: 100%;
		height: 100%;
	}
	@media (min-width: 600px) {
		float: left;
		width: 49%;
	}
	@media (min-width: 1050px) {
		border-right: none;
		&:last-child {
			border-right: .5px solid rgb(40,40,40);
		}
		width: 24%;
		i, img {
			padding-top: 15%;
		}
	}
}
