!!! 5 utf-8
%html{lang: 'en'}
    %head
        %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
        %meta{'name' => 'robots', :content => 'noodp'}
        %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
        %meta{'name' => 'description', :content => data.page.desc}
        %meta{'name' => 'keywords', :content => data.page.keywords}
        %meta{'name' => 'author', :content => 'walshie4'}
        %title
            Mendit
        /[if lt IE 9]
            %script{:src => "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js",
            :async=>'true'}
            %script{:src => "//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js",
            :async=>'true'}
        %script{:src =>"//code.jquery.com/jquery-1.11.2.min.js"}
        %script{:src=>"//code.jquery.com/jquery-migrate-1.2.1.min.js"}
        %script{:src=>"//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js",
            :async=>'true'}
        %script{:src=>"/MenditLanding/javascripts/base.js", :async=>"true"}
        %link{:href=>"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css",
        :rel=>"stylesheet", :type=>'text/css'}
        %link{:href=>"//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css",
        :rel=>"stylesheet", :type=>'text/css'}
        %link{:href=>"/MenditLanding/stylesheets/skeleton.css", :rel=>'stylesheet', :type=>'text/css'}
        %link{:href=>"/MenditLanding/stylesheets/base.css", :rel=>'stylesheet', :type=>'text/css'}
    %header
        %a.page-scroll{:href=>'#page-top'}
            %img#brand_header{:src=>'/MenditLanding/images/mendit-logo-300px.png',
                :alt=>'Mendit'}
        %a.button.page-scroll{:href=>'#page-top'}
            Home
        %a.button.page-scroll{:href=>'#about'}
            About
        %a.button.page-scroll{:href=>'#download'}
            Download
        %a.button.page-scroll{:href=>'#blog'}
            Blog
        %a.button.blue.page-scroll{:href=>'#signup'}
            Sign Up
    = yield
