---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%link{:href=>'/MenditLanding/stylesheets/landing.css', :rel=>'stylesheet', :type=>'text/css'}
#page-top
#intro
	#cover
		.container
			.row.center
				%h4
					Mendit uses crowd-sourced bug reports to help
					%br/
					create a bug-free web.
				%a#signup_btn.button.button-primary{:href=>'#signup'}
					Fix the Web
#together
	.container
		.row
			#left
				%h4.upper.purple
					Together, we can mendit
				%p
					Using the Mendit extension anyone can easily submit a bug report
					and sleep easy knowing it will be forwarded
					along to the correct development team to be fixed.
				%a#fordevs.button.button-primary.upper{:href=>'/MenditLanding/'}
					For Developers
				%a#forusers.button.button-primary.upper{:href=>'/MenditLanding/'}
					For Consumers
			%img{:src=>'/MenditLanding/images/Mockup.jpg'}
#steps
	#blue_cover
		.container
			.row.center
				%h4
					Mendit is Simple.  Very Simple.
				%ul
					%li.step
						.step_contents.center
							%i.fa.fa-bug.fa-5x
							%h5.center
								Find a Bug
					%li.step
						.step_contents.center
							%img{:src=>'/MenditLanding/images/icon.png',
								:alt=>'Report it with the Mendit browser extension.'}
							%h5.center
								Report it With Mendit
					%li.step
						.step_contents.center
							%i.fa.fa-code.fa-5x
							%h5.center
								We&apos;ll Forward it to the Developers
					%li.step
						.step_contents.center
							%i.fa.fa-smile-o.fa-5x
							%h5.center
								The Bug is Fixed
#signup
	.container
		.row.center
			%h3.upper.purple
				Sign Up For More Info
			%h5.center
				Mendit is still in development but will be available soon. Join
				our mailing list to be one of the first users!
			#signup_form
				:plain
					<!-- Begin MailChimp Signup Form -->
						<div id="mc_embed_signup" class="row">
							<form action="//mendit.us10.list-manage.com/subscribe/post?u=74f25fd56585cd1609f0cf391&amp;id=18f8e50595" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<div class="indicates-required"><span class="red">*</span> indicates required</div>
								<label for="mce-EMAIL">Email Address  <span class="red">*</span>
								</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
								<label for="mce-FNAME">First Name </label>
								<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
								<label for="mce-LNAME">Last Name </label>
								<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;"><input type="text" name="b_74f25fd56585cd1609f0cf391_18f8e50595" tabindex="-1" value=""></div>
							    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-primary"></div>
							</form>
						</div>
						<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
						<!--End mc_embed_signup-->
#footer
	Made with
	%i.fa.fa-1x.red.fa-heart
	by the team @
	%a{:href=>"//assembly.com/bug-review-crowd-sourced-debugging"}
		Assembly
