---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%link{:href=>'/stylesheets/landing.css', :rel=>'stylesheet', :type=>'text/css'}
.container
	.row.center
		%h1#title
			Mendit
		%h3
			A Crowd-Sourced Effort to Fix the Web
		%i.fa.fa-3x.fa-bug
		%br/
#footer
	Made with
	%i.fa.fa-1x.red.fa-heart
	by the team @
	%a{:href=>""}
		Assembly
