---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%link{:href=>'/MenditLanding/stylesheets/landing.css', :rel=>'stylesheet', :type=>'text/css'}
#intro
	#cover
		.container
			.row.center
				%h4
					Mendit uses crowd-sourced bug reports to help
					%br/
					create a bug-free web.
				%a#signup_btn.button.button-primary{:href=>'#signup'}
					Fix the Web
#together
	.container
		.row
			#left
				%h4.upper.purple
					Together, we can mendit
				%p
					Now anyone can easily submit a bug report
					and sleep easy knowing it will be forwarded
					along to the correct development team to be fixed.
				%a#fordevs.button.button-primary.upper{:href=>'/MenditLanding/'}
					For Developers
				%a#forusers.button.button-primary.upper{:href=>'/MenditLanding/'}
					For Consumers
			%img{:src=>'/MenditLanding/images/Mockup.jpg'}
#steps
	#blue_cover
		.container
			.row.center
				%h4
					Mendit is Simple.  Very Simple.
				%ul
					%li.step
						.step_contents.center
							%i.fa.fa-bug.fa-5x
							%h5.center
								Find a Bug
					%li.step
						.step_contents.center
							%img{:src=>'/MenditLanding/images/icon.png',
								:alt=>'Report it with the Mendit browser extension.'}
							%h5.center
								Report it With Mendit
					%li.step
						.step_contents.center
							%i.fa.fa-code.fa-5x
							%h5.center
								We&apos;ll Forward it to the Developers
					%li.step
						.step_contents.center
							%i.fa.fa-smile-o.fa-5x
							%h5.center
								The Bug is Fixed
#signup
	.container
		.row.center
			%h3.upper.purple
				Sign Up For More Info
#footer
	Made with
	%i.fa.fa-1x.red.fa-heart
	by the team @
	%a{:href=>"//assembly.com/bug-review-crowd-sourced-debugging"}
		Assembly
