---
title: Mendit
desc: Crowd-sourced debugging. Let's make the internet perfect.
keywords: QA, web, development, bug, fix, report
---

%link{:href=>"stylesheets/landing.css", :rel=>"stylesheet"}
#intro
    %h1.center
        Tired of a Buggy Web?
    %i.fa.fa-3x.fa-bug
    %h3.center
        Mendit using crowd-sourcing to help create a bug-free web.
        Now anyone can easily report a bug and it will be forwarded along
        to the corresponding development team to be fixed.
#how
    %h1.center
        How?
    %h3.center
        Mendit functions through a simple browser extension. Currently Mendit is in development.
        %br
        %br
        Join our mailing list to be notified of when our various browser extensions will be launching.
    %h2.center.top-padded
        Sign Up for More Info
#change
    %h1.center
        Be a Part of the Solution
    %h3.center.blurBack.black.padded
        As a member of the modern web we have the power to assist in contributing and
        maintaining all our favorite sites. Using the Mendit browser extension
        submitting issues becomes a fire-and-forget activity allowing the
        process to be quick and painless, unlike the current procedure of
        tracking down a development team's issue tracker.
