---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%link{:href=>'/stylesheets/landing.css', :rel=>'stylesheet', :type=>'text/css'}
#intro
	#cover
		.container
			.row.center
				%h4
					Mendit uses crowd-sourced bug reports to help
					%br/
					create a bug-free web.
				%a.button.button-primary{:href=>'#signup'}
					Fix the Web
#steps
	.container
		.row
			%ul
				%li.step
					.step_contents
						%i.fa.fa-bug.fa-5x
						%h5.center
							Find a Bug
				%li.step
					.step_contents
						%img{:src=>'/images/icon.png',
							:alt=>'Report it with the Mendit browser extension.'}
						%h5.center
							Report it With Mendit
				%li.step
					.step_contents
						%i.fa.fa-code.fa-5x
						%h5.center
							We&apos;ll Forward it to the Developers
				%li.step
					.step_contents
						%i.fa.fa-smile-o.fa-5x
						%h5.center
							The Bug is Fixed
#footer
	Made with
	%i.fa.fa-1x.red.fa-heart
	by the team @
	%a{:href=>"//assembly.com/bug-review-crowd-sourced-debugging"}
		Assembly
