---
title: Mendit
desc: Crowd-sourced debugging. Let's make the internet perfect.
keywords: QA, web, development, bug, fix, report
---

%link{:href=>"stylesheets/landing.css", :rel=>"stylesheet"}
#intro
    %h1.center
        Tired of a Buggy Web?
    %i.fa.fa-3x.fa-bug
    %h3.center
        Mendit using crowd-sourcing to help create a bug-free web.
        Now anyone can easily report a bug and it will be forwarded along
        to the corresponding development team to be fixed.
#change
    %h1.center
        We Can Fix It
