---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%link{:href=>'/stylesheets/landing.css', :rel=>'stylesheet', :type=>'text/css'}
.container
	.row.center
		%h1#title
			Mendit
		%h3
			A Crowd-Sourced Effort to Fix the Web
		%i.fa.fa-3x.fa-bug
		%br/
.container
	.row.center
		%ul#steps
            %li.step
                %i.fa.fa-4x.fa-bug
                %h2.center
                    Find a Bug
                %p.center
                    You find a bug on your favorite site while browsing.
            %li.step
                %img{:src=>"images/icon_transparent.png"}
                %h2.center
                    Report It
                %p.center
                    Using the Mendit browser extension you report the issue.
            %li.step
                %i.fa.fa-4x.fa-code
                %h2.center
                    Devs Notified
                %p.center
                    We ensure that your report is sent to the development team.
            %li.step
                %i.fa.fa-4x.fa-user
                %h2.center
                    Issue Fixed
                %p.center
                    The development team fixes the issue moving us closer to a
                    bug-free modern web.
#footer
	Made with
	%i.fa.fa-1x.red.fa-heart
	by the team @
	%a{:href=>""}
		Assembly
