---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%link{:href=>'/stylesheets/landing.css', :rel=>'stylesheet', :type=>'text/css'}
.container
	.row.center
		#intro
			%h1#title
				Mendit
			%h3
				A Crowd-Sourced Effort to Fix the Web
			%i.fa.fa-3x.fa-bug
		#steps
			%ul
				%li.step
					.step_contents
						%i.fa.fa-bug.fa-5x
						%h5.center
							Find a Bug
				%li.step
					.step_contents
						%img{:src=>'/images/icon.png',
							:alt=>'Report it with the Mendit browser extension.'}
						%h5.center
							Report it With Mendit
				%li.step
					.step_contents
						%i.fa.fa-code.fa-5x
						%h5.center
							We&apos;ll Forward it to the Developers
				%li.step
					.step_contents
						%i.fa.fa-smile-o.fa-5x
						%h5.center
							The Bug is Fixed
#footer
	Made with
	%i.fa.fa-1x.red.fa-heart
	by the team @
	%a{:href=>"//assembly.com/bug-review-crowd-sourced-debugging"}
		Assembly
